A:link { font-size: 12px; font-weight: bold; text-decoration: none;color: #006699;font-family: Geneva, Helvetica, Verdana; }
A:visited { font-size: 12px; font-weight: bold; text-decoration: none;color: #006699;font-family: Geneva, Helvetica, Verdana; }
A:active { font-size: 12px; font-weight: bold; text-decoration: underline; color: #006699;font-family: Geneva, Helvetica, Verdana; }
A:hover { font-size: 12px; text-decoration: underline; color: #006699;font-family: Geneva, Helvetica, Verdana; }

H4 { font-weight: bold; text-decoration: none; color: #000000;font-family: Geneva, Helvetica, Verdana; }
H3 { font-size: 14px; font-weight: bold; text-decoration: none; color: #000000;font-family: Lucida, Geneva, Helvetica, Verdana; }
P { font-size: 12px; text-decoration: none; color: #000000;font-family: Lucida, Geneva, Helvetica, Verdana; }
BODY { font-size: 12px; text-decoration: none; color: #000000;font-family: Lucida, Geneva, Helvetica, Verdana; }
BLOCKQUOTE { font-size: 12px; text-decoration: none; color: #000000;font-family: Lucida, Geneva, Helvetica, Verdana; }
